<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881695493058-mo1njj46a7hrh2llj40qsjflu3918gk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881695493058-mo1njj46a7hrh2llj40qsjflu3918gk9</string>
	<key>API_KEY</key>
	<string>AIzaSyASmJGErSwr00shioBvZX_Z1jNGPxreS_s</string>
	<key>GCM_SENDER_ID</key>
	<string>881695493058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myproject.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-firebase-rv</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-firebase-rv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881695493058:ios:fed3b632ca2e841f7ca45b</string>
</dict>
</plist>